*{ padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(13, 19 ,35);
}
main{


}
.item1{
    
    border-radius: 16px;}
   
.jermy{
    width: 79px;
    height: 79px;
    border-radius: 100%;
    border: 4px solid white;
}
.word{
    color: white;
font-weight: bold;
font-size: 14px;
}.dot{
    color:rgb(197 201 247) ;
    font-size: 35px;
}
.time{
      color:beige;
      font-size: 40px
}
.lweek{
      color:rgb(197 201 247) ;
      font-size: 12px;
}
.times{
    
    padding: 13px;
  
    padding-bottom: 40px;
}

.card{
    background-color:rgb(29 32 75);
    
    border-radius: 16px;



    padding: 20px;
 
    margin-top: 30px;
   

}
.bakhsh1{
    background-color: rgb(87 70 234 );
   border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
   


   padding:20px ;
  
   padding-bottom: 30px;
}
ul{
    list-style-type: none;
    background-color: rgb(29 32 75 );
     border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    
    padding-top: 6px;
    padding-left: 15px;
}


