*{padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    height: 100vh;
    background-color:rgb(13 19 35 );
}
.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat(2,200px);
    gap: 40px;
   justify-content: center;
   align-content: center;   
}
section{
  
   border-radius: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.item1{
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
border-bottom-right-radius: 8px;
    background-color: rgb(29 32 75);
    gap: 10px;
   border-bottom-left-radius: 8px ;
}
.item1 img{
    width: 79px;
    height: 79px;
    border-radius: 100%;
    border: 4px solid white;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-left: 15px;
    padding-top: 10px;
    
    
}
.card1{
display: flex;
flex-direction: column;
background-color: rgb(87,70,234);
padding:25px;
gap: 30px;
border-radius: 8px;
padding-bottom: 50px;
}
.card{
position: relative;
}
.svg{
position: absolute;
width: 40px;
height: 40px;
right: 6px;
}
.b2{
margin-top: 40px;
border-radius: 10px;
height: 160px;
}
.time{
display: flex;
flex-direction: column;
gap: 6px;
padding-left: 20px;
}
.word{
display: flex;
flex-direction: row;
justify-content: space-between;
padding-top: 35px;
padding-left: 20px;
padding-left: 15px;
}
